.env*

*.log

!/node_modules/*
/node_modules/*/.*
!/node_modules/*/LICENSE
/node_modules/*/*.md
/node_modules/*/*.md~
/node_modules/*/*.yaml
/node_modules/*/*.json
/node_modules/*/*.js.map
/node_modules/*/tests/*
/node_modules/*/benchmarks/*

/node_modules/.bin/prettier
/node_modules/prettier/*

/tests/*
!/tests/.gitkeep
